<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/media/shotwell/css/style.css" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=5.0; user-scalable=1;" /> <meta name="apple-mobile-web-app-capable" content="yes" /> <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <script type="text/javascript" src="/media/shotwell/js/script.js"></script>
    {% block extrahead %}{% endblock %}
  </head>

  <body>
    <div class="content">
        {% block content %}{% endblock %}    
    </div>
  </body>
</html>

